#container {
    overflow : auto;
    margin: auto;
    width: 50%; 
}
#messagecontainer {
    position : fixed;
    bottom : 0px;
    padding-top: 15px;
    width: 100%;
}

#messages {
    padding-bottom: 200px;
}