#container {
    top: 10%;
    left: 50%;
}
#messagecontainer {
    position : fixed;
    bottom : 0px;
    padding-top: 15px;
    width: 100%;
    background-color: #333333;
}
#messagecontainer2 {
    position : fixed;
    bottom : 0px;
    padding-top: 15px;
    width: 100%;
    background-color: #333333;
    margin: auto;
    width: 50%;
}
#messages {
    border: 1px solid #333333;
    overflow: scroll;
}