#container {
    overflow : auto;
    margin: auto;
    width: 100%; 
}
#messagecontainer {
    position : fixed;
    bottom : 0px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
}

#messages {
    padding-bottom: 200px;
    text-align: center;
}
.messagebox *{ 
    width:100%;
}

#messagesend {
    float: right;   
}
#messagesend {
    display: none;
}